name: "Publish"
on: [push, pull_request]

env:
  TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
  TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}

jobs:
    create-release:
        runs-on: ubuntu-latest
        outputs:
            RELEASE_UPLOAD_ID: ${{ steps.create_release.outputs.id }}

        steps:
            - name: Get date format for release tag
              id: date
              run: echo "today=$(date +'%d.%m.%Y')" >> $GITHUB_OUTPUT
            - uses: actions/checkout@v2
            - name: Get version
              run: echo "APP_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV
            - name: Create release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ env.APP_VERSION }}
                  release_name: "Sprite Packer v${{ env.APP_VERSION }}"
                  body: "Sprite Packer has released another version.\n\nChangelog:\n-"
                  draft: false
                  prerelease: false
    build-tauri:
        needs: create-release
        strategy:
            fail-fast: false
            matrix:
                platform: [macos-latest, ubuntu-latest, windows-latest]

        runs-on: ${{ matrix.platform }}
        steps:
        - uses: actions/checkout@v2
        - name: Setup node
          uses: actions/setup-node@v1
          with:
              node-version: 16
        - name: Install Rust
          uses: actions-rs/toolchain@v1
          with:
              toolchain: stable
        - name: Install Ubuntu dependencies
          if: matrix.platform == 'ubuntu-latest'
          run: |
              sudo apt-get update
              sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf
        - name: Install app dependencies and build
          run: yarn && yarn build
        - name: Run Tauri action
          uses: tauri-apps/tauri-action@v0
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              releaseId: ${{ needs.create-release.outputs.RELEASE_UPLOAD_ID }}